<header>
    <div class="header-content">
        <div class="header-left">
            <div class="header-logo">
                <img src="new-logo.png" alt="Logo">
            </div>
            <nav class="main-nav">
                <a href="#" class="nav-item active">Home</a>
                <a href="#" class="nav-item">TV Shows</a>
                <a href="#" class="nav-item">Movies</a>
                <a href="#" class="nav-item">New & Popular</a>
                <a href="#" class="nav-item">My List</a>
                <a href="#" class="nav-item">Browse by Languages</a>
            </nav>
        </div>
    </div>
</header>